{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     field.class|trim,
    height:    field.height|default(''),
    label:     field.label,
    required:  field.required|default(false),
    errortext: field.error|default(''),
    info:      field.info|default('')
} %}

{#=== INIT ===========================================================================================================#}

{% set param = {} %}

{% if option.height %}
    {% set param = param|merge({height: option.height}) %}
{% endif %}

{% set attributes = {
    html: {
        class:           option.class ~ ' summernote',
        data_errortext:  option.errortext,
        data_param:      param ? param|json_encode : '',
        id:              key,
        name:            name,
        required:        option.required,
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}
{% import '@bolt/_macro/_macro.twig' as macro %}

{% block fieldset_type 'html2' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}
{% block fieldset_label_for   key %}

{% block fieldset_controls %}
    <div class="col-xs-12">
        <textarea{{ macro.attr(attributes.html) }}>{{ context.content.get(contentkey)|default('')|raw }}</textarea>
    </div>
{% endblock fieldset_controls %}
